* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(17, 10, 29);
}

.container {
    margin: 0 140px;
    color: #fff;
    font-family: "Lexend";
}

.mask {
    position: absolute;
    top: 0;
    width: 100%;
    height: 1150px;
    background: linear-gradient(180deg, transparent 63%, rgb(17, 10, 29) 96%);
    z-index: 0;
    pointer-events: none;
}

.mask2 {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 300px;
    height: 300px;
    border-radius: 300px;
    opacity: 0.9;
    background: linear-gradient(256deg, #478BF9 0%, #9DADF2 100%);
    filter: blur(300px);
    z-index: 0;
    pointer-events: none;
}

.mask3 {
    position: absolute;
    left: -15%;
    bottom: 0;
    width: 226.458px;
    height: 1302.469px;
    transform: rotate(-54.311deg);
    background: linear-gradient(180deg, #478BF9 0%, rgba(71, 139, 249, 0.4) 100%);
    opacity: 0.55;
    filter: blur(150px);
    z-index: 1;
    pointer-events: none;
}

.header {
    margin-top: 16px;
}

.header__menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 96px;
    padding: 0 48px;
    font-size: 16px;
    color: #FFF;
    font-weight: 400;
    line-height: 20px;
    border: 4px solid #478BF9;
    background-color: #110A1D;
    border-radius: 50px 50px 50px 50px;
}

.header__logo {
    width: 287px;
}

.header__nav {
    padding: 0 8px;
    width: 588px;
}

.header__nav-list {
    display: flex;
    justify-content: space-around;
    list-style-type: none;
}

.header__nav-item {
    cursor: pointer;
}

.header__nav-item:hover {
    color: #478BF9;
    text-decoration: underline;
}

.header__buttons {
    width: 287px;
    text-transform: uppercase;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.button {
    height: 48px;
    padding: 14px 14px;
    text-align: center;
    border: 2px solid #9DADF2;
    border-radius: 24px 24px 24px 24px;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.button img {
    margin-right: 8px;
}

.button:hover {
    background-color: #478BF9;
}

.content__wrapper {
    display: flex;
    justify-content: space-between;
}

.content__left {
    margin-top: 296px;
    width: 670px;
}

.content__title {
    font-size: 96px;
    font-style: normal;
    font-weight: 500;
    line-height: 96px;
}

.content__title span {
    color: #478BF9;
}

.content__subtitle {
    margin-top: 24px;
    color: rgba(255, 255, 255, 0.6);
    font-size: 32px;
    font-style: normal;
    font-weight: 500;
    line-height: 32px;
}

.content__btn {
    width: 397px;
    margin-top: 24px;
    border-radius: 48px;
    background: #478BF9;
    padding: 20px 72px;
    align-items: center;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 32px;
 /* 133.333% */
    text-transform: uppercase;
    border: none;
}

.content__btn:hover {
    cursor: pointer;
    background-color: #2b7bfa;
}

.content__slider {
    width: 335px;
    height: 1020px;
    display: flex;
    justify-content: space-around;
    overflow: hidden;
    z-index: -3;
    position: relative;
}

.content__slider_item {
    display: flex;
    flex-direction: column;
    width: 100px;
    height: 200%;
}

.content__slider_item:nth-child(1) img {
    height: 100%;
    animation: slider1 25s linear infinite;
    padding-bottom: 25px;
}

.content__slider_item:nth-child(2) img {
    height: 110%;
    animation: slider2 30s linear infinite;
    padding-bottom: 25px;
}

.content__slider_item:nth-child(3) img {
    height: 100%;
    animation: slider1 35s linear infinite;
    padding-bottom: 20px;
}

.content__blog {
    margin-top: 140px;
    width: 531px;
}

.content__blog_title {
    font-size: 40px;
    font-style: normal;
    font-weight: 600;
    line-height: 40px;
    text-align: center;
    text-transform: uppercase;
}

.content__blog_items {
    margin-top: 24px;
    width: 100%;
    border-radius: 100px;
    border: 3px solid #478BF9;
    background: rgba(255, 255, 255, 0.12);
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    padding: 0 24px;
    padding-right: 16px;
    overflow: hidden;
}

.content__blog_scroll {
    height: 595px;
    overflow-y: auto;
    padding-right: 15px;
}

.content__blog_scroll::-webkit-scrollbar {
    width: 8px;
    border-radius: 10px;
}

.content__blog_scroll::-webkit-scrollbar-thumb {
    width: 8px;
    border-radius: 10px;
    background-color: #478BF9;
}

.content__blog_scroll::-webkit-scrollbar-track {
    background-color: rgba(255, 255, 255, 0.12);
    border-radius: 10px;
}

.content__blog_scroll::-webkit-scrollbar-button {
    height: 100px;
}

.content__blog_item {
    width: auto;
    margin-bottom: 16px;
    padding: 16px 64px;
    min-height: 146px;
    border-radius: 196px;
    background-color: #1E1231;
}

.content__blog_item:hover {
    cursor: pointer;
    background-color: #478BF9;
}

.content__blog_item:nth-child(1) {
    margin-top: 24px;
}

.content__blog_descr {
    height: auto;
    font-size: 24px;
    font-weight: 400;
    line-height: 28px;
}

.content__blog_data {
    margin-top: 14px;
    font-size: 14px;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.6);
}

@keyframes slider1 {
    0% {
        transform: translateY(0);
    }

    100% {
        transform: translateY(-100%);
    }
}

@keyframes slider2 {
    0% {
        transform: translateY(-100%);
    }

    100% {
        transform: translateY(0);
    }
}

.footer {
    border-radius: 64px 64px 0px 0px;
    border-top: 4px solid #478BF9;
    border-right: 4px solid #478BF9;
    border-left: 4px solid #478BF9;
    background: #1E1231;
    padding: 40px 0 24px 0;
    position: relative;
    z-index: 444;
}

.footer__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: end;
}

.footer__pages {
    display: flex;
    justify-content: left;
    -moz-column-gap: 40px;
    column-gap: 40px;
}

.footer__pages_item {
    cursor: pointer;
}

.footer__pages_item:hover {
    color: #478BF9;
    text-decoration: underline;
}

.footer__social {
    text-align: end;
}

.footer__social_text {
    margin-bottom: 14px;
}

.footer__social_links {
    display: flex;
    justify-content: right;
    -moz-column-gap: 8px;
    column-gap: 8px;
}

.footer__social_icon {
    width: 32px;
    height: 32px;
    background: url("assets/images/social/BG_static.png");
    transition: all 0.3s;
    position: relative;
}

.footer__social_icon:hover {
    background: url("assets/images/social/BG_hover.png");
}

.footer__social_icon img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}